body{
	margin:0;
	padding:0;
	font-family: sans-serif;
	background-image:url(https://media.istockphoto.com/photos/blue-abstract-background-or-texture-picture-id1138395421?k=6&m=1138395421&s=612x612&w=0&h=bJ1SRWujCgg3QWzkGPgaRiArNYohPl7-Wc4p_Fa_cyA=);
	background-size:cover;


}
.box{
	width:300px;
	position:absolute;
	top:1%;
	left:50%; 
	padding:30px;
	transform: translate(-50%,50%);
	background:rgba(86, 184, 150, 0.2);
	text-align:center;
}
.box h1{
	color:white;
	text-transform: uppercase;
	font-weight:300;

}
.box input[type="text"],.box input[type="password"]
{
	border:0;
	background:none;
	display:block;
	margin:20px auto;
	text-align:center;
	border:3px solid #0367fd;
	padding:14px 10px;
	outline:none;
	color:black;
	border-radius:24px;
	transition: :0.25px;
}
.box input[type="text"]:focus,.box input[type="password"]:focus{
	width:270px;
	border-color:#ffc400ec;
}
.box input[type="submit"]{
	border:0;
	background:none;
	display:block;
	margin:20px auto;
	text-align:center;
	border:3px solid #ffc400ec;
	padding:14px 35px;
	outline:none;
	color:white;
	border-radius:24px;
	transition: :0.25px;
	cursor:pointer;

}
.box input[type="submit"]:hover{
	background:#ffc400ec;
}
button{
	border:none;
	border-radius:10px;
}
button a:link, button a:visited {
  background-color:white;
  color:black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display:block;
  border-radius:5px;

}
button a:hover, button a:active {
  color:black;
}